<div class="row">
  <div class="col-md-6 m-auto">
    <div class="container mt-5 pl-5">
      <h2 class="text-center">{{this.churchname}}</h2>
        <label for="churchId">ChurchId</label>
        <input type="text" name="_id" class="form-control" value="{{this.churchId}}">
        <label for="date">Date</label>
        <input type="text" name="date" class="form-control" value="{{output.date}}">
        <label for="amount">Name</label>
        <input type="text" name="amt" class="form-control" value="{{output.name}} ">
        <label for="status">Amount</label>
        <input type="text" name="status" class="form-control" value="{{output.amt}}">
        <label for="status">Type</label>
        <input type="text" name="status" class="form-control" value="{{output.type}}">
        <label for="payDate">Phone</label>
        <input type="text" name="payDate" class="form-control" value="{{output.phone}}">
        <label for="trId">Comment</label>
        <input type="text" name="trId" class="form-control" value="{{output.comment}}">
        <br>
        <br>
    </div>
  </div>
</div>