 <div class="container">
    <h3 >{{this.status}}Churches</h3>
    <br>
 </div>
<div class="row">
    <div class="col-md-6 m-auto">
        <div class="container mt-5 pl-5">
            <h2 class="text-center">Search</h2>
            <form action"/myFirstApp.AESoftwareSolution/Unni/SibiN.12.02.1996.JameS/AikarA/user" method="post">
                <div class="form-group">
                        <input type="text" class="form-control" name="_id" id="_id"  placeholder="Search">
                </div>
                <button type="submit" class="btn btn-primary float-right">search</button>
            </form>
        </div>
    </div>
</div>
<section>
    <table class="table mt-5" id="churchTable">
      <thead>
        <tr>
          <th scope="col">pay Id</th>
          <th scope="col">Church Id</th>
          <th scope="col">Church Name</th>
          <th scope="col">Type</th>
           <th scope="col">View</th>
        </tr>
      </thead>
      <tbody>
        {{#each result}}
        <tr>
          <td>{{this.pay_id}}</td>
           <td>{{this.church_id}}</td>
          <td>{{this.church_name}}</td>
          <td>{{this.type}}</td>
          <td><a href="/myFirstApp.AESoftwareSolution/Unni/SibiN.12.02.1996.JameS/AikarA/detailed_payment/{{this.church_id}}/{{this.pay_id}}/{{this.church_name}} " class="btn btn-primary">View</a>
          <!-- send the value use query-->
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>
<script>
    $(function(){
    $('#churchTable').DataTable();
  });
</script>
