<section>
  <div class="container">
    <h3 >{{this.status}}requests</h3>
    <br>
    <table class="table mt-5" id="churchTable">
      <thead>
        <tr>
          <th scope="col">ChurchId</th>
          <th scope="col">Date</th>
          <th scope="col">Amount</th>
          <th scope="col">status</th>
          <th scope="col">Options</th>
        </tr>
      </thead>
      <tbody>
        {{#each requests}}
        <tr>
          <td>{{this._id}}</td>
          <td>{{this.requests.date}}</td>
           <td>{{this.requests.amount}}</td>
          <td>{{this.requests.status}}</td>
        {{!-- /{{this._id}}/"{{this.requests.date}}"/{{this.requests.amount}} --}}
          <td><a href="/myFirstApp.AESoftwareSolution/Unni/SibiN.12.02.1996.JameS/AikarA/viewPayment/{{this._id}}/{{this.requests.date}}/{{this.requests.amount}}" class="btn btn-primary">View</a>
          <!-- send the value use query-->
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>
<script>
    $(function(){
    $('#churchTable').DataTable();
  });
</script>