
<div class="row">
    <div class="col-md-6 m-auto">
        <div class="container mt-5 pl-5">
            <h2 class="text-center">Search</h2>
            <form action"/myFirstApp.AESoftwareSolution/Unni/SibiN.12.02.1996.JameS/AikarA/getChurch" method="post">
                <div class="form-group">
                        <input type="text" class="form-control" name="search" id="search"  placeholder="Search">
                </div>
                <button type="submit" class="btn btn-primary float-right">search</button>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 m-auto">
        <div class="container mt-5 pl-5">
            <h2 class="text-center">{{church.churchName}}</h2>
                    <label for="username">username</label>
                    <input type="text" name="username" class="form-control" value="{{church.username}} ">
                     <label for="saint">Id</label>
                    <input type="text" name="saint" class="form-control" value="{{church._id}} ">
                      <label for="Phone">Phone</label>
                    <input type="text" name="phone" class="form-control" value="{{church.phone}}">
                     <label for="arch">arch</label>
                    <input type="text" name="place" class="form-control" value="{{church.place}}">
                     <label for="district">district</label>
                    <input type="text" name="district" class="form-control" value="{{church.district}}">
                     <label for="state">state</label>
                    <input type="text" name="state" class="form-control" value="{{church.state}}">
                      <label for="Nation">Nation</label>
                    <input type="text" name="nation" class="form-control" value="{{church.nation}}">
                      <label for="Pincode">Pincode</label>
                    <input type="text" name="pincode" class="form-control" value="{{church.pincode}}">
                      <label for="priest Name">priestName</label>
                    <input type="text" name="priestName" class="form-control" value="{{church.priest.name}}">
                     <label for="priestPhone">priest Phone</label>
                    <input type="text" name="priestPhone" class="form-control" value="{{church.priest.phone}}">
                     <label for="about">about</label>
                    <input type="text" name="about" class="form-control" value="{{church.about}}">

                    <label for="accName">accName</label>
                    <input type="text" name="accName" class="form-control" value="{{church.accName}}">
                     <label for="accNo">Account Number</label>
                    <input type="text" name="accNo" class="form-control" value="{{church.accNo}}">
                     <label for="ifsc">IFSC</label>
                    <input type="text" name="ifsc" class="form-control" value="{{church.ifsc}}">

                     <label for="location">location</label>
                    <input type="text" name="location" class="form-control" value="{{church.location.coordinates}}">
                    <label for="lvl">lvl</label>
                    <input type="text" name="lvl" class="form-control" value="{{church.lvl}}">
                     <label for="tabelNumber">tableNumber</label>
                     <br>
                    <input type="text" name="status" class="form-control" value="{{church.booking_table}}">
                   <br>
          </div>
              <div><br>
              <br>
                  <b><label for="Image">Image</label></b>
                    <p></p>
                    <img src="/uploads/churchImages/{{church._id}}.jpg" alt="np found" style="width:200px; height:auto" id="imgView" class="pt-3 pb-3">
                    <br>
             </div>
          </form>
        </div>

    </div>
</div>
